@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?kqqa7e');
    src: url('../fonts/icomoon.eot?kqqa7e#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?kqqa7e') format('truetype'),
        url('../fonts/icomoon.woff?kqqa7e') format('woff'),
        url('../fonts/icomoon.svg?kqqa7e#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}